.App{
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}
h1.big{
    font-family: 'Arvo', sans-serif;
    color: #000000;
    font-size: 50px;
    text-align: center;
    text-shadow:2px 2px 0 #FFF, -2px -2px 0 #FFF,
    -2px 2px 0 #FFF, 2px -2px 0 #FFF,
    0px 2px 0 #FFF,  0-2px 0 #FFF,
    -2px 0 0 #FFF, 2px 0 0 #FFF;
}

h2.main{
     font-family: 'Arvo', sans-serif;
     color: #000000;
     font-size: 35px;
     padding-left: 8%;
     text-shadow:2px 2px 0 #FFF, -2px -2px 0 #FFF,
     -2px 2px 0 #FFF, 2px -2px 0 #FFF,
     0px 2px 0 #FFF,  0-2px 0 #FFF,
     -2px 0 0 #FFF, 2px 0 0 #FFF;
}

.main{
    color: rgba(255,255,255,0.97);
    font-size: 20px;
    padding-bottom: 10px;
    padding-left: 15%;
}

h3{
    color: rgba(255,255,255,0.97);
    padding-bottom: 5px;
    padding-left: 15%;
}

h4{
    font-family: 'Arvo', sans-serif;
    color: rgba(255,255,255,0.97);
    padding-bottom: 5px;
    padding-left: 15%;
}

.eng{
    font-weight: bold;
    display:inline;
}

.eng_line{
    text-decoration: underline;
    display:inline;
    color: white;
}

.jap{
    font-weight: bold;
    font-family: 'Kosugi Maru', sans-serif;
}

.jap-in{
    font-weight: bold;
    font-family: 'Kosugi Maru', sans-serif;
    display: inline;
}

.wrap{
    padding-bottom: 30px;
}