.set{
    display: flex;
    width: 800px;
    padding-bottom: 15px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.item{
    flex: 1;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: auto;
    margin-right: auto;
  }

.item2{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}