.set{
    display: flex;
    width: 850px;
    padding-bottom: 25px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.set2{
    display: flex;
    width: 500px;
    padding-bottom: 25px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.set3{
    display: flex;
    width: 850px;
    padding-bottom: 25px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.item-skill{
    flex: 1;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: auto;
    margin-right: auto;
  }

.item2-skill{
    flex: 1;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width:250px;
}

.item3{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}


.classes.bigAvatar {
    margin: 30px;
    width: 120px;
    height: 120px;
}